<div class="pt-20 pb-10 px-5">
  <div class="grid grid-cols-1">
    <div
      class="bg-[#005bd4] px-10 py-5 grid grid-cols-1 md:grid-cols-[75%_25%] rounded items-center"
    >
      <div class="text-white">
        <div class="text-2xl">Records</div>
        <div class="font-light my-3 w-3/4">
          Lorem, ipsum dolor sit amet consectetur adipisicing elit. Aspernatur
          saepe fugiat, sint impedit autem repudiandae similique corporis fuga
          debitis ducimus!
        </div>
      </div>
      <div>
        <img src="../../../assets/log-illustrator.svg" alt="" />
      </div>
    </div>
  </div>
  <div class="flex justify-between items-center mt-5">
    <div class="font-bold">All Records</div>
  </div>
  <div class="flex justify-between items-center mb-5 p-10 rounded-b bg-white">
    <div class="">
      <input type="search" class="block rounded w-68 p-2 bg-slate-200 outline-0 focus:border text-sm" placeholder="Search by id"/>
    </div>
    <button
      class="text-white text-sm hover:bg-blue-600 w-48 block text-center bg-blue-500 rounded py-2 cursor-pointer"
    >
      Download
    </button>
  </div>
  <div class="bg-white rounded w-full p-5">
    <table class="w-full">
      <tr class="border-b">
        <th class="text-left py-3">Email</th>
        <th class="text-left">Transaction ID</th>
        <th class="text-left">Car Type</th>
        <th class="text-left">Status</th>
      </tr>
      <tr class="border-b text-sm">
        <td class="text-left py-3">jbabatunde@email.com</td>
        <td class="text-left">A43RE56</td>
        <td class="text-left">Camry</td>
        <td class="text-left text-green-600">Collected</td>
      </tr>
      <tr class="border-b text-sm">
        <td class="text-left py-3">jbabatunde@email.com</td>
        <td class="text-left">A43RE56</td>
        <td class="text-left">Camry</td>
        <td class="text-left text-red-600">Not Collected</td>
      </tr>
      <tr class="border-b text-sm">
        <td class="text-left py-3">jbabatunde@email.com</td>
        <td class="text-left">A43RE56</td>
        <td class="text-left">Camry</td>
        <td class="text-left text-yellow-600">Returned</td>
      </tr>
      <tr class="border-b text-sm">
        <td class="text-left py-3">jbabatunde@email.com</td>
        <td class="text-left">A43RE56</td>
        <td class="text-left">Camry</td>
        <td class="text-left text-green-600">Collected</td>
      </tr>
      <tr class="border-b text-sm">
        <td class="text-left py-3">jbabatunde@email.com</td>
        <td class="text-left">A43RE56</td>
        <td class="text-left">Camry</td>
        <td class="text-left text-red-600">Not Collected</td>
      </tr>
      <tr class="border-b text-sm">
        <td class="text-left py-3">jbabatunde@email.com</td>
        <td class="text-left">A43RE56</td>
        <td class="text-left">Camry</td>
        <td class="text-left text-yellow-600">Returned</td>
      </tr>
      <tr class="border-b text-sm">
        <td class="text-left py-3">jbabatunde@email.com</td>
        <td class="text-left">A43RE56</td>
        <td class="text-left">Camry</td>
        <td class="text-left text-green-600">Collected</td>
      </tr>
      <tr class="border-b text-sm">
        <td class="text-left py-3">jbabatunde@email.com</td>
        <td class="text-left">A43RE56</td>
        <td class="text-left">Camry</td>
        <td class="text-left text-red-600">Not Collected</td>
      </tr>
      <tr class="border-b text-sm">
        <td class="text-left py-3">jbabatunde@email.com</td>
        <td class="text-left">A43RE56</td>
        <td class="text-left">Camry</td>
        <td class="text-left text-yellow-600">Returned</td>
      </tr>
      <tr class="border-b text-sm">
        <td class="text-left py-3">jbabatunde@email.com</td>
        <td class="text-left">A43RE56</td>
        <td class="text-left">Camry</td>
        <td class="text-left text-green-600">Collected</td>
      </tr>
      <tr class="border-b text-sm">
        <td class="text-left py-3">jbabatunde@email.com</td>
        <td class="text-left">A43RE56</td>
        <td class="text-left">Camry</td>
        <td class="text-left text-red-600">Not Collected</td>
      </tr>
      <tr class="border-b text-sm">
        <td class="text-left py-3">jbabatunde@email.com</td>
        <td class="text-left">A43RE56</td>
        <td class="text-left">Camry</td>
        <td class="text-left text-yellow-600">Returned</td>
      </tr>
      <tr class="border-b text-sm">
        <td class="text-left py-3">jbabatunde@email.com</td>
        <td class="text-left">A43RE56</td>
        <td class="text-left">Camry</td>
        <td class="text-left text-green-600">Collected</td>
      </tr>
      <tr class="border-b text-sm">
        <td class="text-left py-3">jbabatunde@email.com</td>
        <td class="text-left">A43RE56</td>
        <td class="text-left">Camry</td>
        <td class="text-left text-red-600">Not Collected</td>
      </tr>
      <tr class="border-b text-sm">
        <td class="text-left py-3">jbabatunde@email.com</td>
        <td class="text-left">A43RE56</td>
        <td class="text-left">Camry</td>
        <td class="text-left text-yellow-600">Returned</td>
      </tr>
    </table>
    <div class="flex justify-end items-center text-blue-600 mt-5">
      <div class="cursor-pointer">
        &lt;&lt;
      </div>
      <div class="flex items-center mx-3">
        <div class="py-2 px-3 text-white cursor-pointer bg-blue-700">1</div>
        <div class="py-2 px-3 text-blue-600 cursor-pointer bg-blue-100">2</div>
        <div class="py-2 px-3 text-blue-600 cursor-pointer bg-blue-100">3</div>
      </div>
      <div class="cursor-pointer">
        &gt;&gt;
      </div>
    </div>
  </div>
</div>
