<div class="bg-[url(https://images.pexels.com/photos/597909/pexels-photo-597909.jpeg?auto=compress&cs=tinysrgb&w=600)] h-[50vh] bg-cover bg-no-repeat relative after:absolute after:content[''] after:inset-0 after:bg-black after:opacity-50 flex items-center px-32">
  <div class="rela
  z-10">
    <div class="font-black text-4xl text-white">About Us</div>
    <div class="text-white"><span routerLink="" class="cursor-pointer text-slate-400">Home</span> / About Us</div>
  </div>
</div>
<div class="p-32 grid grid-cols-1 md:grid-cols-2">
  <div>
    <div class="text-3xl font-light mb-5">Car Company</div>
    <div class="font-light w-3/4">
      Lorem ipsum dolor sit amet consectetur adipisicing elit. Magnam et voluptatum fugit facere eos ipsam. Libero tempora similique hic error. <br>
      Lorem ipsum dolor sit amet consectetur adipisicing elit. Maxime quia consectetur iure consequatur expedita quae voluptatibus asperiores eaque ipsa quidem!
    </div>
  </div>
  <div>
    <img src="https://preview.colorlib.com/theme/carrentals/images/xhero_2.jpg.pagespeed.ic.OU-EzhnnWS.webp" alt="" class="rounded">
  </div>
</div>
<div class="p-32 bg-slate-50">
  <div class="text-center font-light text-3xl">Meet Our Team</div>
  <div class="grid grid-cols-1 md:grid-cols-3 gap-14 mt-20">
    <div>
      <img src="https://preview.colorlib.com/theme/carrentals/images/xperson_1.jpg.pagespeed.ic.Zebptmx_f8.webp" alt="" class="block rounded-full mx-auto w-20 -mb-10">
      <div class="bg-white p-10 text-center">
        <div class="text-slate-300">Founder</div>
        <div class="text-2xl font-light">James Doe</div>
        <div class="text-sm text-slate-400">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Ipsa, sapiente.</div>
      </div>
    </div>
    <div>
      <img src="https://preview.colorlib.com/theme/carrentals/images/xperson_5.jpg.pagespeed.ic.NxfnTLrPGT.webp" alt="" class="block rounded-full mx-auto w-20 -mb-10">
      <div class="bg-white p-10 text-center">
        <div class="text-slate-300">Founder</div>
        <div class="text-2xl font-light">James Doe</div>
        <div class="text-sm text-slate-400">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Ipsa, sapiente.</div>
      </div>
    </div>
    <div>
      <img src="https://preview.colorlib.com/theme/carrentals/images/xperson_2.jpg.pagespeed.ic.Mxt35V2im-.webp" alt="" class="block rounded-full mx-auto w-20 -mb-10">
      <div class="bg-white p-10 text-center">
        <div class="text-slate-300">Founder</div>
        <div class="text-2xl font-light">James Doe</div>
        <div class="text-sm text-slate-400">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Ipsa, sapiente.</div>
      </div>
    </div>
    <div>
      <img src="https://preview.colorlib.com/theme/carrentals/images/xperson_3.jpg.pagespeed.ic.oUH0UWEBtY.webp" alt="" class="block rounded-full mx-auto w-20 -mb-10">
      <div class="bg-white p-10 text-center">
        <div class="text-slate-300">Founder</div>
        <div class="text-2xl font-light">James Doe</div>
        <div class="text-sm text-slate-400">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Ipsa, sapiente.</div>
      </div>
    </div>
    <div>
      <img src="https://preview.colorlib.com/theme/carrentals/images/xperson_4.jpg.pagespeed.ic.FGCt_yirqW.webp" alt="" class="block rounded-full mx-auto w-20 -mb-10">
      <div class="bg-white p-10 text-center">
        <div class="text-slate-300">Founder</div>
        <div class="text-2xl font-light">James Doe</div>
        <div class="text-sm text-slate-400">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Ipsa, sapiente.</div>
      </div>
    </div>
    <div>
      <img src="https://preview.colorlib.com/theme/carrentals/images/xperson_1.jpg.pagespeed.ic.Zebptmx_f8.webp" alt="" class="block rounded-full mx-auto w-20 -mb-10">
      <div class="bg-white p-10 text-center">
        <div class="text-slate-300">Founder</div>
        <div class="text-2xl font-light">James Doe</div>
        <div class="text-sm text-slate-400">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Ipsa, sapiente.</div>
      </div>
    </div>
  </div>
</div>
<div class="p-32 grid grid-cols-1 md:grid-cols-2">
  <div>
    <img src="https://preview.colorlib.com/theme/carrentals/images/xhero_1.jpg.pagespeed.ic.A6qTVtrPBN.webp" alt="">
  </div>
  <div>
    <div class="w-3/4 ml-auto">
      <div class="text-3xl font-light mb-5">Our History</div>
      <div class="font-light">
        Lorem ipsum dolor sit amet, consectetur adipisicing elit. Odit suscipit, repudiandae similique accusantium eius nulla quam laudantium sequi. <br>
        Debitis voluptates corporis saepe molestias tenetur ab quae, quo earum commodi, laborum dolore, fuga aliquid delectus cum ipsa?
      </div>
    </div>
  </div>
</div>
<div class="bg-blue-600 px-32 py-20 grid grid-cols-1 md:grid-cols-2 items-center">
  <div class="text-white font-light">
    <div class=" text-3xl">What are you waiting for?</div>
    <div>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Obcaecati, laboriosam.</div>
  </div>
  <div>
    <div class="bg-white w-40 text-center text-blue-600 rounded py-3 cursor-pointer ml-auto">Get Started</div>
  </div>
</div>