<div class="bg-[url(https://images.pexels.com/photos/597909/pexels-photo-597909.jpeg?auto=compress&cs=tinysrgb&w=600)] h-[50vh] bg-cover bg-no-repeat relative after:absolute after:content[''] after:inset-0 after:bg-black after:opacity-50 flex items-center px-32">
    <div class="rela
    z-10">
      <div class="font-black text-4xl text-white">Book Now</div>
      <div class="text-white"><span routerLink="" class="cursor-pointer text-slate-400">Home</span> / Book now</div>
    </div>
  </div>
  <div class="bg-slate-50 p-32">
    <div class="text-center">
      <div class="text-3xl font-light">Book to Rent A Car Now.</div>
      <div class="text-slate-400 w-[35rem] mx-auto">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Nemo assumenda, dolorum necessitatibus eius earum voluptates sed!</div>
    </div>
    <div class="grid grid-cols-1 mt-20">
      <div class="">
        <div class="grid grid-cols-1 md:grid-cols-2 gap-5">
          <div>
            <div class="mb-2">Full Name <span class="text-red-600">*</span></div>
            <input type="text" class="block rounded w-full p-3 outline-0 focus:border" placeholder="e.g. John Doe" />
          </div>
          <div>
            <div class="mb-2">Email Address <span class="text-red-600">*</span></div>
            <input type="email" class="block rounded w-full p-3 outline-0 focus:border" placeholder="e.g. john.doe@yahoo.com" />
          </div>
          <div>
            <div class="mb-2">Phone Number <span class="text-red-600">*</span></div>
            <input type="text" class="block rounded w-full p-3 outline-0 focus:border" placeholder="e.g. 09087659387" />
          </div>
          <div>
            <div class="mb-2">Select Car Type <span class="text-red-600">*</span></div>
            <select class="block rounded w-full p-3 outline-0 focus:border">
              <option>Select a car</option>
              <option value="toyota">Toyota</option>
              <option value="ford">Ford</option>
              <option value="camry">Camry</option>
            </select>
          </div>
          <div>
                <div class="mb-2">Frome <span class="text-red-600">*</span></div>
                <input type="date" class="block rounded w-full p-3 outline-0 focus:border" placeholder="e.g. john.doe@yahoo.com" />
              </div>
              <div>
                <div class="mb-2">To <span class="text-red-600">*</span></div>
                <input type="date" class="block rounded w-full p-3 outline-0 focus:border" placeholder="e.g. 09087659387" />
              </div>
        </div>
      </div>
    </div>
    <div class="bg-blue-500 w-40 hover:bg-blue-600 text-center text-white rounded p-3 cursor-pointer mt-4">Pay Now</div>
  </div>