<div class="bg-[url(https://images.pexels.com/photos/597909/pexels-photo-597909.jpeg?auto=compress&cs=tinysrgb&w=600)] h-[50vh] bg-cover bg-no-repeat relative after:absolute after:content[''] after:inset-0 after:bg-black after:opacity-50 flex items-center px-32">
  <div class="rela
  z-10">
    <div class="font-black text-4xl text-white">Contact Us</div>
    <div class="text-white"><span routerLink="" class="cursor-pointer text-slate-400">Home</span> / Contact Us</div>
  </div>
</div>
<div class="bg-slate-50 p-32">
  <div class="text-center">
    <div class="text-3xl font-light">Have Any Complaint? Contact Us Now.</div>
    <div class="text-slate-400 w-[35rem] mx-auto">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Nemo assumenda, dolorum necessitatibus eius earum voluptates sed!</div>
  </div>
  <div class="grid grid-cols-1 md:grid-cols-[66.6%_33.3%] gap-8 mt-20 mb-10">
    <div class="">
      <div class="grid grid-cols-1 md:grid-cols-2 gap-8 mb-8">
        <input type="text" name="" id="" placeholder="First Name" class="p-3 outline-0 focus:border">
        <input type="text" name="" id="" placeholder="Last Name" class="p-3 outline-0 focus:border">
      </div>
      <div class="mb-8 grid grid-cols-1">
        <input type="text" name="" id="" placeholder="Last Name" class="p-3 outline-0 focus:border">
      </div>
      <div class="grid grid-cols-1">
        <textarea name="" id="" class="p-3 outline-0 focus:border h-60 resize-none" placeholder="Write your message"></textarea>
      </div>
    </div>
    <div class="p-10 bg-white">
      <div class="text-3xl font-light mb-8">Contact Info</div>
      <div class="text-slate-400 mb-8">
        <div>Address:</div>
        <div>34 Street Name, City Name Here, United States</div>
      </div>
      <div class="text-slate-400 mb-8">
        <div>Phone:</div>
        <div>+1 242 4942 290</div>
      </div>
      <div class="text-slate-400 mb-8">
        <div>Email:</div>
        <div>info@yourdomain.com</div>
      </div>
    </div>
  </div>
  <div class="bg-blue-500 w-40 hover:bg-blue-600 text-center text-white rounded py-3 cursor-pointer">Send Message</div>
</div>