<div class="py-20 px-5">
  <div class="grid grid-cols-1 md:grid-cols-[69%_29%] gap-[2%]">
    <div
      class="bg-[#005bd4] p-5 grid grid-cols-1 md:grid-cols-[75%_25%] rounded items-end"
    >
      <div class="text-white">
        <div class="text-2xl">Welcome, Admin</div>
        <div class="font-light my-3">
          Lorem, ipsum dolor sit amet consectetur adipisicing elit. Aspernatur
          saepe fugiat, sint impedit autem repudiandae similique corporis fuga
          debitis ducimus!
        </div>
        <div>
          <div
            class="hover:bg-blue-600 hover:border-[#ffffff] bg-[#0d2d4c] border border-[#0d2d4c] w-40 text-center text-white rounded py-3 cursor-pointer" routerLink="/bookings"
          >
            Bookings
          </div>
        </div>
      </div>
      <div>
        <img src="../../../assets/bro.svg" alt="" />
      </div>
    </div>
    <div class="bg-white rounded p-5 flex flex-col justify-between">
      <div class="text-[#07540a]">Total Income</div>
      <div class="text-[#75c485] text-4xl font-bold">₦ 1,915,664</div>
      <div
        class="hover:bg-inherit hover:text-lime-600 bg-lime-600 border border-lime-600 w-40 text-center text-white rounded py-3 cursor-pointer" routerLink="/transactions"
      >
        Transactions
      </div>
    </div>
  </div>
  <div class="grid grid-cols-1 md:grid-cols-5 gap-4 my-10">
    <div class="bg-white shadow-xl p-5 flex flex-col rounded">
      <div class="flex justify-start mb-2">
        <img src="../../../assets/green-per.svg" alt="" />
      </div>
      <div>
        <div class="text-2xl font-semibold">105</div>
        <div class="text-sm mt-3">Date</div>
      </div>
    </div>
    <div class="bg-white shadow-xl p-5 flex flex-col rounded">
      <div class="flex justify-start mb-2">
        <img src="../../../assets/red-per.svg" alt="" />
      </div>
      <div>
        <div class="text-2xl font-semibold">105</div>
        <div class="text-sm mt-3">Total Cients</div>
      </div>
    </div>
    <div class="bg-white shadow-xl p-5 flex flex-col rounded">
      <div class="flex justify-start mb-2">
        <img src="../../../assets/orange-per.svg" alt="" />
      </div>
      <div>
        <div class="text-2xl font-semibold">105</div>
        <div class="text-sm mt-3">Total Cars</div>
      </div>
    </div>
    <div class="bg-white shadow-xl p-5 flex flex-col rounded">
      <div class="flex justify-start mb-2">
        <img src="../../../assets/red-per.svg" alt="" />
      </div>
      <div>
        <div class="text-2xl font-semibold">105</div>
        <div class="text-sm mt-3">Rented Cars</div>
      </div>
    </div>
    <div class="bg-white shadow-xl p-5 flex flex-col rounded">
      <div class="flex justify-start mb-2">
        <img src="../../../assets/green-per.svg" alt="" />
      </div>
      <div>
        <div class="text-2xl font-semibold">105</div>
        <div class="text-sm mt-3">Uncleared Books</div>
      </div>
    </div>
  </div>
  <div class="bg-white rounded mb-10 w-full p-5">
    <div class="flex justify-between items-center mb-5">
      <div class="font-bold">Recent Transactions</div>
      <div
        class="text-sm rounded text-white bg-green-600 py-1 px-2 cursor-pointer" routerLink="/transactions"
      >
        View All
      </div>
    </div>
    <table class="w-full">
      <tr class="border-b">
        <th class="text-left py-3">S/N</th>
        <th class="text-left">Name</th>
        <th class="text-left">Amount</th>
        <th class="text-left">Date</th>
      </tr>
      <tr class="border-b text-sm">
        <td class="text-left py-3">1.</td>
        <td class="text-left">Joshua Dada</td>
        <td class="text-left">₦ 1,915,664</td>
        <td class="text-left">15/2/2022</td>
      </tr>
      <tr class="border-b text-sm">
        <td class="text-left py-3">2.</td>
        <td class="text-left">Joshua Dada</td>
        <td class="text-left">₦ 1,915,664</td>
        <td class="text-left">15/2/2022</td>
      </tr>
      <tr class="border-b text-sm">
        <td class="text-left py-3">3.</td>
        <td class="text-left">Joshua Dada</td>
        <td class="text-left">₦ 1,915,664</td>
        <td class="text-left">15/2/2022</td>
      </tr>
      <tr class="border-b text-sm">
        <td class="text-left py-3">4.</td>
        <td class="text-left">Joshua Dada</td>
        <td class="text-left">₦ 1,915,664</td>
        <td class="text-left">15/2/2022</td>
      </tr>
      <tr class="border-b text-sm">
        <td class="text-left py-3">5.</td>
        <td class="text-left">Joshua Dada</td>
        <td class="text-left">₦ 1,915,664</td>
        <td class="text-left">15/2/2022</td>
      </tr>
    </table>
  </div>
  <div class="bg-white rounded w-full p-5">
    <div class="flex justify-between items-center mb-5">
      <div class="font-bold">Recent Bookings</div>
      <div
        class="text-sm rounded text-white bg-green-600 py-1 px-2 cursor-pointer" routerLink="/bookings"
      >
        View All
      </div>
    </div>
    <table class="w-full">
      <tr class="border-b">
        <th class="text-left py-3">S/N</th>
        <th class="text-left">Name</th>
        <th class="text-left">Car Type</th>
        <th class="text-left">Start Date</th>
        <th class="text-left">End Date</th>
      </tr>
      <tr class="border-b text-sm">
        <td class="text-left py-3">1.</td>
        <td class="text-left">Joshua Dada</td>
        <td class="text-left">Toyota</td>
        <td class="text-left">15/2/2022</td>
        <td class="text-left">17/2/2022</td>
      </tr>
      <tr class="border-b text-sm">
        <td class="text-left py-3">2.</td>
        <td class="text-left">Joshua Dada</td>
        <td class="text-left">Toyota</td>
        <td class="text-left">15/2/2022</td>
        <td class="text-left">17/2/2022</td>
      </tr>
      <tr class="border-b text-sm">
        <td class="text-left py-3">3.</td>
        <td class="text-left">Joshua Dada</td>
        <td class="text-left">Toyota</td>
        <td class="text-left">15/2/2022</td>
        <td class="text-left">17/2/2022</td>
      </tr>
      <tr class="border-b text-sm">
        <td class="text-left py-3">4.</td>
        <td class="text-left">Joshua Dada</td>
        <td class="text-left">Toyota</td>
        <td class="text-left">15/2/2022</td>
        <td class="text-left">17/2/2022</td>
      </tr>
      <tr class="text-sm">
        <td class="text-left pt-3">5.</td>
        <td class="text-left">Joshua Dada</td>
        <td class="text-left">Toyota</td>
        <td class="text-left">15/2/2022</td>
        <td class="text-left">17/2/2022</td>
      </tr>
    </table>
  </div>
</div>
