<div class="relative">
  <div class="bg-home bg-[url(https://images.pexels.com/photos/170811/pexels-photo-170811.jpeg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=1)] h-screen bg-no-repeat bg-cover blur-md">
  </div>
  
  <div class="absolute top-[40%] translate-x-1/2 right-1/2">
    <div class="text-4xl text-white mb-5 text-center">
      You can <br><span class="font-bold">Rent A Car</span><br> within your finger tip
    </div>
    <div>
      <div class="bg-blue-500 hover:bg-blue-600 w-40 mx-auto text-center text-white rounded py-3 cursor-pointer" routerLink="/book">Book Now</div>
    </div>
  </div>
</div>
<div class="p-32">
  <div class="text-2xl font-bold">How it works?</div>
  <div class="text-sm">Easy steps to get started.</div>
  <div class="grid grid-cols-1 md:grid-cols-3 gap-10 mt-10">
    <div class="shadow-lg relative p-10">
      <div class="text-blue-500 text-sm font-bold">01.</div>
      <div class="text-lg font-bold">Register / Login</div>
      <div>Lorem ipsum dolor sit amet consectetur adipisicing elit. Est, nostrum.</div>
      <div class="text-blue-500 font-bold text-5xl absolute -left-4 translate-y-1/2 bottom-1/2">1</div>
    </div>
    <div class="shadow-lg relative p-10">
      <div class="text-blue-500 text-sm font-bold">02.</div>
      <div class="text-lg font-bold">Register / Login</div>
      <div>Lorem ipsum dolor sit amet consectetur adipisicing elit. Est, nostrum.</div>
      <div class="text-blue-500 font-bold text-5xl absolute -left-4 translate-y-1/2 bottom-1/2">2</div>
    </div>
    <div class="shadow-lg relative p-10">
      <div class="text-blue-500 text-sm font-bold">03.</div>
      <div class="text-lg font-bold">Register / Login</div>
      <div>Lorem ipsum dolor sit amet consectetur adipisicing elit. Est, nostrum.</div>
      <div class="text-blue-500 font-bold text-5xl absolute -left-4 translate-y-1/2 bottom-1/2">3</div>
    </div>
  </div>
  <div class="grid grid-cols-1 md:grid-cols-2 mt-28 px-28 items-center gap-10">
    <div>
      <div class="font-bold text-3xl">You can easily avail our promo for renting a car.</div>
      <div class="my-6">
        Lorem ipsum dolor sit amet, consectetur adipisicing elit. Repudiandae, explicabo iste a labore id est quas, doloremque veritatis! Provident odit pariatur dolorem quisquam, voluptatibus voluptates optio accusamus, vel quasi quidem!
      </div>
      <div class="bg-blue-500 w-40 hover:bg-blue-600 text-center text-white rounded py-3 cursor-pointer" routerLink="/book">Book Now</div>
    </div>
    <div class="flex justify-end">
      <img src="https://preview.colorlib.com/theme/carrentals/images/xfeature_01.png.pagespeed.ic.0HpoFfnUkp.webp" alt="" class="w-[80%]">
    </div>
  </div>
</div>
<div class="p-32 bg-slate-50">
  <div class="text-2xl font-bold">Car Listing</div>
  <div class="text-sm">Check out the prices of our cars.</div>
  <div class="grid grid-cols-1 md:grid-cols-3 mt-20 gap-10">
    <div class="rounded-md p-5 bg-white shadow-lg group">
      <img src="https://preview.colorlib.com/theme/carrentals/images/xcar_6.jpg.pagespeed.ic.WKoIvM4-4b.webp" alt="" class="rounded -mt-10 block">
      <div class="mt-6 font-bold text-lg">Mitsubishi Pajero</div>
      <div class="text-slate-400"><span class="text-lg text-blue-600 my-6">$389.00</span> / day</div>
      <div class="grid grid-cols-3 my-6">
        <div>
          <div>Luggage:</div>
          <div>8</div>
        </div>
        <div>
          <div>Doors:</div>
          <div>4</div>
        </div>
        <div>
          <div>Passangers:</div>
          <div>4</div>
        </div>
      </div>
      <hr>
      <div class="text-slate-400 my-6 text-sm">Lorem ipsum dolor sit amet consectetur adipisicing elit. Tempora, cumque.</div>
      <div class="bg-blue-500 w-40 hover:bg-blue-600 text-center text-white rounded py-3 cursor-pointer" routerLink="/book">Book Now</div>
    </div>
    <div class="rounded-md p-5 bg-white shadow-lg group">
      <img src="https://preview.colorlib.com/theme/carrentals/images/xcar_5.jpg.pagespeed.ic.KZYPTmTZWh.webp" alt="" class="rounded -mt-10 block">
      <div class="mt-6 font-bold text-lg">Nissan Moco</div>
      <div class="text-slate-400"><span class="text-lg text-blue-600 my-6">$389.00</span> / day</div>
      <div class="grid grid-cols-3 my-6">
        <div>
          <div>Luggage:</div>
          <div>8</div>
        </div>
        <div>
          <div>Doors:</div>
          <div>4</div>
        </div>
        <div>
          <div>Passangers:</div>
          <div>4</div>
        </div>
      </div>
      <hr>
      <div class="text-slate-400 my-6 text-sm">Lorem ipsum dolor sit amet consectetur adipisicing elit. Tempora, cumque.</div>
      <div class="bg-blue-500 w-40 hover:bg-blue-600 text-center text-white rounded py-3 cursor-pointer" routerLink="/book">Book Now</div>
    </div>
    <div class="rounded-md p-5 bg-white shadow-lg group">
      <img src="https://preview.colorlib.com/theme/carrentals/images/xcar_4.jpg.pagespeed.ic.FD4zO7JKWk.webp" alt="" class="rounded -mt-10 block">
      <div class="mt-6 font-bold text-lg">Honda Fitta</div>
      <div class="text-slate-400"><span class="text-lg text-blue-600 my-6">$389.00</span> / day</div>
      <div class="grid grid-cols-3 my-6">
        <div>
          <div>Luggage:</div>
          <div>8</div>
        </div>
        <div>
          <div>Doors:</div>
          <div>4</div>
        </div>
        <div>
          <div>Passangers:</div>
          <div>4</div>
        </div>
      </div>
      <hr>
      <div class="text-slate-400 my-6 text-sm">Lorem ipsum dolor sit amet consectetur adipisicing elit. Tempora, cumque.</div>
      <div class="bg-blue-500 w-40 hover:bg-blue-600 text-center text-white rounded py-3 cursor-pointer" routerLink="/book">Book Now</div>
    </div>
    <div class="rounded-md p-5 bg-white shadow-lg group">
      <img src="https://preview.colorlib.com/theme/carrentals/images/xcar_3.jpg.pagespeed.ic.d0VfkreNoy.webp" alt="" class="rounded -mt-10 block">
      <div class="mt-6 font-bold text-lg">Skoda Laura</div>
      <div class="text-slate-400"><span class="text-lg text-blue-600 my-6">$389.00</span> / day</div>
      <div class="grid grid-cols-3 my-6">
        <div>
          <div>Luggage:</div>
          <div>8</div>
        </div>
        <div>
          <div>Doors:</div>
          <div>4</div>
        </div>
        <div>
          <div>Passangers:</div>
          <div>4</div>
        </div>
      </div>
      <hr>
      <div class="text-slate-400 my-6 text-sm">Lorem ipsum dolor sit amet consectetur adipisicing elit. Tempora, cumque.</div>
      <div class="bg-blue-500 w-40 hover:bg-blue-600 text-center text-white rounded py-3 cursor-pointer" routerLink="/book">Book Now</div>
    </div>
    <div class="rounded-md p-5 bg-white shadow-lg group">
      <img src="https://preview.colorlib.com/theme/carrentals/images/xcar_2.jpg.pagespeed.ic.wgTj6GCceJ.webp" alt="" class="rounded -mt-10 block">
      <div class="mt-6 font-bold text-lg">Mazda LaPuta</div>
      <div class="text-slate-400"><span class="text-lg text-blue-600 my-6">$389.00</span> / day</div>
      <div class="grid grid-cols-3 my-6">
        <div>
          <div>Luggage:</div>
          <div>8</div>
        </div>
        <div>
          <div>Doors:</div>
          <div>4</div>
        </div>
        <div>
          <div>Passangers:</div>
          <div>4</div>
        </div>
      </div>
      <hr>
      <div class="text-slate-400 my-6 text-sm">Lorem ipsum dolor sit amet consectetur adipisicing elit. Tempora, cumque.</div>
      <div class="bg-blue-500 w-40 hover:bg-blue-600 text-center text-white rounded py-3 cursor-pointer" routerLink="/book">Book Now</div>
    </div>
    <div class="rounded-md p-5 bg-white shadow-lg group">
      <img src="https://preview.colorlib.com/theme/carrentals/images/xcar_1.jpg.pagespeed.ic.4B5IMY6sTT.webp" alt="" class="rounded -mt-10 block">
      <div class="mt-6 font-bold text-lg">Buick LaCrosse</div>
      <div class="text-slate-400"><span class="text-lg text-blue-600 my-6">$389.00</span> / day</div>
      <div class="grid grid-cols-3 my-6">
        <div>
          <div>Luggage:</div>
          <div>8</div>
        </div>
        <div>
          <div>Doors:</div>
          <div>4</div>
        </div>
        <div>
          <div>Passangers:</div>
          <div>4</div>
        </div>
      </div>
      <hr>
      <div class="text-slate-400 my-6 text-sm">Lorem ipsum dolor sit amet consectetur adipisicing elit. Tempora, cumque.</div>
      <div class="bg-blue-500 w-40 hover:bg-blue-600 text-center text-white rounded py-3 cursor-pointer" routerLink="/book">Book Now</div>
    </div>
  </div>
</div>
<div class="p-32">
  <div class="text-2xl font-bold">Testimonials</div>
  <div class="text-sm">Check out the prices of our cars.</div>
  <div class="grid grid-cols-1 md:grid-cols-3 mt-20 gap-10">
    <div class="rounded bg-blue-500 pb-3 shadow-lg">
      <div class="rounded bg-slate-50 p-10">
        <div class="text-black"><q>Lorem ipsum dolor sit, amet consectetur adipisicing elit. Consequuntur error atque, officiis exercitationem dolores id!</q></div>
        <div class="flex items-center gap-5 mt-10">
          <img src="https://preview.colorlib.com/theme/carrentals/images/xperson_1.jpg.pagespeed.ic.Zebptmx_f8.webp" alt="" class="rounded-full w-14">
          <div class="font-light text-center">
            <div>Mike Fisher</div>
            <div>Owner, Ford</div>
          </div>
        </div>
      </div>
    </div>
    <div class="rounded bg-blue-500 pb-3 shadow-lg">
      <div class="rounded bg-slate-50 p-10">
        <div class="text-black"><q>Lorem ipsum dolor sit, amet consectetur adipisicing elit. Consequuntur error atque, officiis exercitationem dolores id!</q></div>
        <div class="flex items-center gap-5 mt-10">
          <img src="https://preview.colorlib.com/theme/carrentals/images/xperson_1.jpg.pagespeed.ic.Zebptmx_f8.webp" alt="" class="rounded-full w-14">
          <div class="font-light text-center">
            <div>James Love</div>
            <div>Customer</div>
          </div>
        </div>
      </div>
    </div>
    <div class="rounded bg-blue-500 pb-3 shadow-lg">
      <div class="rounded bg-slate-50 p-10">
        <div class="text-black"><q>Lorem ipsum dolor sit, amet consectetur adipisicing elit. Consequuntur error atque, officiis exercitationem dolores id!</q></div>
        <div class="flex items-center gap-5 mt-10">
          <img src="https://preview.colorlib.com/theme/carrentals/images/xperson_2.jpg.pagespeed.ic.Mxt35V2im-.webp" alt="" class="rounded-full w-14">
          <div class="font-light text-center">
            <div>Jide Olawode</div>
            <div>Traveler</div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<div class="bg-blue-600 px-32 py-20 grid grid-cols-1 md:grid-cols-2 items-center">
  <div class="text-white font-light">
    <div class=" text-3xl">What are you waiting for?</div>
    <div>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Obcaecati, laboriosam.</div>
  </div>
  <div>
    <div class="bg-white w-40 text-center text-blue-600 rounded py-3 cursor-pointer ml-auto" routerLink="/book">Book Now</div>
  </div>
</div>